.selectCateogry{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: $md){
        min-height: 40vh;
    }
    &:hover{

      color: #fff;
      text-decoration: none;
      background-color: rgb(42, 29, 122) !important;
    }

  &:nth-of-type(1){
    background-color: $c1;
  }
  &:nth-of-type(2){
    background-color: $c2;
    @media screen and (min-width: $md){
      background-color: $c2;
    }
  }
  &:nth-of-type(3){
    background-color: $c2;
    @media screen and (min-width: $md){
      background-color: $c1;
    }
  }
  &:nth-of-type(4){
    background-color: $c1;
    @media screen and (min-width: $md){
      background-color: $c2;
    }
  }
  &:nth-of-type(5){
    background-color: $c1;
    @media screen and (min-width: $md){
      background-color: $c1;
    }
  }
  &:nth-of-type(6){
    background-color: $c2;
    @media screen and (min-width: $md){
      background-color: $c2;
    }
  }
}
