
#results{
  display: none;
}

//css za rezultate pretrage korisitim i za pocetni prikaz!!!

.product{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 5%;
  min-height: 150px;
  // background-color: $c202;

  // word-wrap: break-word;      /* IE 5.5-7 */
  //     white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  //     white-space: pre-wrap;      /* current browsers */

  & div.productQuickInfo{
    display: flex;
    align-items: center;
    justify-content: center;
  }



  display: flex;
  align-items: center;
  // border: $greb;
  background-color: rgba(#8e3ccb, 0.1);
  border-bottom: 1px solid rgb(191, 204, 219);

  border-radius: 5px;

  @media screen and (max-width: $md){
    &:last-of-type {
      border-bottom : none;
    }
  }

  @media screen and (min-width: $sm){
    min-height: 150px;
  }
  @media screen and (min-width: $md){
    min-height: 160px;
    border-radius: 15px;
    background-color: rgba(#8e3ccb, 0.3);
    // margin-right: 1%;
  }
  @media screen and (min-width: $lg){
    min-height: 160px;
  }
  @media screen and (min-width: $xl){
    min-height: 185px;
  }
}


.productImage{
  max-height: 200px; //responsivity...
  overflow: hidden;
  @include flexCenterImg();

  @media screen and (min-width: $sm){
    @include flexCenterImg();

  }
  @media screen and (min-width: $md){
    @include flexCenterImg(80%);
    max-height: 180px;

  }

}

.productTag{
  padding: 1%;
  background-color: $c2;
  color: #fff;
}


.goBack{
  cursor: pointer;
}



.noProductDanger{
  position: absolute;
  z-index: 15;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;


  background-color: $c207;
}
