input#manufacturersSearch::-webkit-input-placeholder {
  // color: orange;
font-family: $fo2;

}
input#manufacturersSearch::-moz-placeholder {
  // color: orange;
font-family: $fo2;
}
input#manufacturersSearch::-ms-input-placeholder  {
  // color: orange;
font-family: $fo2;
}
input#manufacturersSearch::-moz-placeholder {
  // color: orange;
font-family: $fo2;
}





.resultsOf{
  list-style: none;
}

.manufacturersPage{


}

.manufPageContent{
  border-radius: 5px;
  @media screen and (min-width: $md){
    border-radius: 15px;

  }
}


.manufSidebar{
  // background-color: $c202;
  border-radius: 15px;

}

.manufacturerResult{
  background-color: rgba(#8e3ccb, 0.1);
  border-bottom: 1px solid rgb(191, 204, 219);
  border-radius: 5px;
  @media screen and (min-width: $md){
    border-radius: 15px;
    background-color: rgba(#8e3ccb, 0.2);
    // margin-right: 1%;
  }
}


.manufImage{
  @include flexCenterImg(80%);
}



 .manufImageInResult{
    @include flexCenterImg(80%);
    @media screen and (min-width: $sm){
      @include flexCenterImg(65%);
    }

    @media screen and (min-width: $lg){
      order: 3;
    }
  }


.gotoManuf{
  align-items: center;
  justify-content: center;
  // border: $redb;
}
