// =====stilizovanje placeholdera search-bar-a=================
input#tagInput::-webkit-input-placeholder {
  // color: orange;
font-family: $fo2;
font-weight: 500;
}
input#tagInput::-webkit-input-placeholder {
font-family: $fo2;
font-weight: 500;
}
input#tagInput::-webkit-input-placeholder {
  // color: orange;
font-family: $fo2;
font-weight: 500;
}
input#tagInput::-webkit-input-placeholder {
  // color: orange;
font-family: $fo2;
font-weight: 500;
}
