
// Fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

// Variables





@import '~bootstrap/scss/bootstrap';
@import 'mutual/variables';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

*:not(.fo2){
  font-family: $fo1;
}

.fo2{
  font-family: $fo2;
}

@import 'mutual/animateCSS';
@import 'mutual/mixins';
@import 'mutual/defaultClasses';
@import 'mutual/textClasses';
@import 'mutual/helpers';
@import 'mutual/header';
@import 'mutual/footer';
@import 'mutual/defaults';

@import 'guest/defaults';
@import 'guest/homepage';
@import 'guest/checkProduct';
@import 'guest/listing';
@import 'guest/categories';
@import 'guest/tagsPage';
@import 'guest/manufacturers';
@import 'guest/suggest';
@import 'guest/listingGroups';
@import 'guest/recommended';
@import 'guest/ads';
@import 'guest/slidingIn';
@import 'guest/o_nama';


@import 'admin/dashboard';
@import 'admin/listedItems';
@import 'admin/createOrEdit';
@import 'admin/notificationInHeader';
@import 'admin/listedNotifications';
@import 'admin/adminBusiness';
@import 'admin/images';
@import 'admin/suggestionReview';
@import 'admin/ads';


#app{
  min-height:100vh;
}
