footer{
  position: relative;
  background-color: $c207;
  padding: 1% 5%;
  color: #fff;
  z-index: 9;

  & a{
    color: #fff;
    text-decoration: none;
    text-align: center;

    &.footerCat{
      text-transform: uppercase;
    }

    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}
