@import 'menu';


.adminHeader{
  background-color: rgba(255, 255, 255, 0);

}

.logo{
  @include flexCenterImg(120%);

    @media screen and (min-width: $sm) {
      @include flexCenterImg(82%);
    }


    @media screen and (min-width: $lg) {
      @include flexCenterImg(92%);

    }

  }

.checkProductGroupHeader, .TopListsHeader{

  background-image:  linear-gradient(to right,  #abc835, #dceba0);
  // background-image:  linear-gradient(to right,  #4ea462, #fff);
}

.homepageHeader{
  padding-bottom: 0 !important;
  margin-bottom: -0.5%;
}

.TopListsHeader{
  background-color: #abc835;
}


.suggestProductHeader{
  // background-color: #a074c1;
}
