.imgToDel{
  @include flexCenterImg(50%);
  @media screen and (min-width: $md){
      @include flexCenterImg(35%);
  }
}

.imageOnPage{
  border-bottom: 1px solid $c2;
}

.inTable{
  background-color: $c105;
}

.notInTable{
  background-color: rgb(219, 49, 26);
}
