.activeProductImage{
  // border: $blab2;
  @include flexCenterImg(50%);
}

.imageToSelect{
  @include flexCenterImg(40%);
}


.creationForm{
  color: $c1;
}

.disabledField{
  pointer-events: none;
}

#selectingProductGroups{
  display: none;
}
