.readNotif{
  background-color: $c1;
}

.unreadNotif{
  background-color: rgb(230, 55, 66);
}

  .notifDispatch{
    & a{
      margin-right: 4%;
      margin-bottom: 4%;
      border: $black;
    }
  }
